# Practical 02 - Data Preparation
In this practical we'll be using Python/[Pandas](https://pandas.pydata.org) to explore and visualise some example data using [Jupyter Notebooks](https://jupyter.org) in [Google Colaboratory](https://colab.research.google.com).

At the start of each practical you should make a copy of the notebook in your own google drive:
- File -> Save as copy in Drive

If you would prefer to work with a Jupyter Lab session ony your own machine you can download the notebook directly via:
- File -> Downaload -> Download .ipynb

In this practial we will be preparing data for use with some data mining applications.

The data for this week can be found on [GitHub](https://github.com/PaulHancock/COMP5009_pracs).

## Titanic revisited

Last week we explored the titanic manifest dataset using SQL.
This week we'll start by re-doing much of this exploration as we learn to use python, pandas, and jupyter notebooks.

Complete the following tasks:
1. Load the data file [titanic.csv](https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/titanic.csv) from GitHub.
2. Display the first 10 rows of the dataset.
3. Examine the column names and content and determine an appropriate data type for each.
  - Look at the data types used by pandas and comment on any differences
4. Is the data multidimensional?  
  - Find the number of attributes and the number of instances.
5. For each attribute:
  - check if there are any missing entries
  - Find the min, max, avg, sum values if relevant
  - Plot a histogram of the data
6. Select all the passengers with "Dr." in their name.
  - Group these data by sex
7. Compute the average fare grouped by class and embarkation port.

In [ ]:
# Load the modules that we'll be using
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
# np, pd, and plt are common shorthands for these often used modules

### 1. Load the data
Load the data into a pandas data frame

In [ ]:
# The data are hosted in github and we can load it directly from the URL
data_url = 'https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/titanic.csv'
tt_df = pd.read_csv(data_url)

In [ ]:
# view the loaded data to make sure that it makes sense
tt_df

### 2. Display the first 10 rows
We can make use of the `.head()` method provided by the data frame.
Try also:
- df.head(5)
- df.tail()

In [ ]:
tt_df.head()

### 3. Examine the data
Examine the column names and content and determine an appropriate data type for each.
  - Look at the data types used by pandas and comment on any differences

In [ ]:
print("Column Names")
print(tt_df.columns)
print()
print("Data types")
print(tt_df.dtypes)

### 4. Is the data multidimensional?  
Find the number of attributes and the number of instances.

In [ ]:
tt_df.shape

### 5. Summarise the data
For each attribute:
  - check if there are any missing entries
  - Find the min, max, avg, sum values if relevant
  - Plot a histogram of the data

In [ ]:
tt_df.describe()

In [ ]:
# if we run a funciton on the data frame it runs on ech column.
# `numeric_only=True` means that we ignore the text columns
tt_df.sum(numeric_only=True)

In [ ]:
# We can plot a histogram of all the data together
tt_df.hist(figsize=(12,12))
plt.show()

In [ ]:
# or one by one
tt_df['Age'].hist()
plt.show()

### 6. Find the doctors
Select all the passengers with "Dr." in their name.
- Group these data by sex

In [ ]:
# in sql we have a filter using the WHERE clause to select our data
filter = tt_df['Name'].str.contains('Dr\.')
doctors = tt_df[filter]
# then we GROUP BY, and then we run the count() command
# there is no pandas equivalent of count(*) so we have to run count on a column with no NULLs
doctors.groupby('Sex')['Name'].count()

### 7. Average fare
Compute the average fare grouped by class and embarkation port.

In [ ]:
# Remeber the ordering:
# group, select columns, compute
tt_df.groupby(['Pclass','Embarked'])['Fare'].mean()

## Q3 from Chapter 2 of [Aggarwal](https://www.springer.com/gp/book/9783319141411)

We will be working with the Arrythmia data set from the UCI Machine Learning Repository at http://archive.ics.uci.edu/ml/datasets/arrhythmia. The data are available via github as [arrhythmia.data.with.header.csv](https://github.com/PaulHancock/COMP5009_pracs/blob/main/data/arrhythmia.data.with.header.csv)

Use Pandas to load the data and complete the following tasks:
1. Load the data into a pandas data frame, converting '?' into `NaN`

1. Find and remove all attributes with more than 80% missing values.

1. Detect all duplicate rows and remove them if found.

1. Find all attributes with less than 5% missing values and replace these missing values with either the mean or the mode of the attribute.  

1. Discretize attributes att3 and att4 into 10 equi-width ranges and 10 equi-depth ranges respectively.

  a. Examine and comment on the intervals in each case.

1. Standardize all numeric attributes to a mean of 0 and a standard deviation of 1.

1. Create a database `arrythmia.db`.
  
  a. Randomly sample 100 instances and save them to a table called `test`.

  b. Save the remaining instances to a table called `train`.

### Load the data
Load the data into a pandas data frame, converting '?' into `NaN`

Look at last week's prac and load the data into our data frame.

The link to the data file should be: https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/arrhythmia.data.with.header.csv

The difference here is that the csv file uses '?' to indicate missing values. This is annoying but pandas has a workaround.
Look at the help for the `pd.read_csv` to see what parameter you might use to indicate that '?' should be interpreted as `NaN`.

In [ ]:
import pandas as pd

In [ ]:
# load the data into our data frame
data_url = 'https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/arrhythmia.data.with.header.csv'
ar_df = pd.read_csv(data_url, na_values='?')

In [ ]:
ar_df.head()

### Remove attributes
Find and remove all attributes with more than 80% missing values.

We could use `df.describe()` however there are so many columns that we need an automated approach. Thus we will write a function to compute the fraction of missing rows, and print the name and fraction for each columnn.

In [ ]:
# find which columns have missing data
def missing(df):
  """
  For each attribute/column in the dataframe `df`, count the number of missing entries.
  Return a list of all the coulmns with more than 80% missing entries.
  """
  missing_dict = dict()
  total = df.shape[0] # shape[0] is the number of rows
  for attribute in df.columns:
    missing = df[attribute].isna().sum() # count the number of Null/nan/na values
    frac = missing/total * 100 # as a percentage
    missing_dict[attribute] = frac
  return missing_dict

In [ ]:
m_dict = ?

In [ ]:
# Look at each attribute/frac pair in the dict and choose those with a frac that is >80
cols_to_drop = [ att for att,frac in m_dict.items() if ?]
cols_to_drop

Deleting the columns can be done with the `.drop()` function, we just need a list of columns to remove.

In [ ]:
# figure out which columns you want to drop from above, and put their names in the list below
ar_df.drop(columns=cols_to_drop,
           inplace=True)

In [ ]:
# confirm that our data frame now has fewer columns (was 280)
ar_df.columns

### Detect and remove duplicates
Detect all duplicate rows and remove them if found.

Look at `duplicated` as a starting point. Try to show all duplicates (the ones that we will remove).

In [ ]:
dups = ar_df.duplicated()
dups

The dups variable is a series with too many rows to display so instead we can count the number of True values by using `sum()`

In [ ]:
# recall that true = 1, false = 0
dups.sum()

If there are no nuplicates then skip to the next problem.

Removing duplicate rows can be done either by noting the index of the duplicates above and feeding that into the `drop()` function, or by using the `drop_duplicates()` function which combines the finding and dropping together.

In [ ]:
# using ~dups we are indexing on all rows of dups that are false (ie not duplicates)
ar_df[~ dups]

# lets use drop_duplicates() to remove the duplicate rows

### Replace missing values
Find all attributes with less than 5% missing values and replace these missing values with either the mean or the mode of the attribute.

In [ ]:
# Look at each attribute/frac pair in the dict and choose those with a frac that is <5
cols_to_impute = [ att for att,frac in m_dict.items() if ? ]
cols_to_impute

Look at the `fillna()` function for ways to replace the `NaN` values.

In [ ]:
for col in ?:
  # compute the mean
  mean = ar_df[col].mean()
  # now use the fillna function to replace the NaN avalues with the mean value
  ar_df[col].fillna(mean, inplace=True)

In [ ]:
# check that the replacement has worked, by re making our m_dict
m_dict = ?
for col in cols_to_impute:
  print(col, "missing data", ?)

### Discritize attributes
Discretize attribute att4 into 10 equi-width ranges and 10 equi-depth ranges respectively.

a. Examine and comment on the intervals in each case.

First lets get a summary of the attribute so that we can see what we are dealing with here

In [ ]:
ar_df['att4'].describe()

Look at the documentation for `qcut` and `cut` for help with this one.

In [ ]:
# This will display help for the pd.cut function in the browser (this is Jupyter magic, not part of normal python)
?pd.cut

In [ ]:
# now use qcut to create equal depth bins (or at least try)
# use 10 quantiles
# use integers for bin labels
# drop the duplicate bin edges
# return the bin edges
# look at the help for qcut to figure out what parameters to pass
results, bins = pd.cut ?

print("bin name | number of entries")
print(results.value_counts(sort=False))

print("The bin edges")
print(bins)

att3_10_equi_width = results

In [ ]:
# plot a histogram of the equiwidth data

In [ ]:
# now use qcut to create equal depth bins (or at least try)
# look at the help for qcut to figure out what parameters to pass
results, bins = pd.qcut ?

print("bin name | number of entries")
print(results.value_counts(sort=False))

print("The bin edges")
print(bins)
att3_10_equi_depth = results

In [ ]:
# plot a histogram

### Standardise numeric attributes
Standardize all numeric attributes to a mean of 0 and a standard deviation of 1.

So for each atttribute compute the mean ($\mu$) and the standard deviation ($\sigma$) and then replace the values with $z= \frac{x-\mu}{\sigma}$

`sklearn` has a `preprocessing` package that has a `StandardScaler` that we can use for this.

Note: There is also a `MinMaxScaler` that works in the same way.

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
# choose all the numeric type attributes
numeric_attributes = ar_df.select_dtypes(include=?).columns
numeric_attributes

In [ ]:
# Create a standard scaler and fit it to our data
scaler = StandardScaler()
scaler.fit(?)

# Now transform our data using this scaler, replacing the original data
ar_df[numeric_attributes] =  scaler.transform(ar_df[numeric_attributes])
# if you have other data frames that you want to scale with the same transform you can do it as
# other_df[numeric_attributes] = scaler.transform(other_df[numeric_attributes])

In [ ]:
# verify that this worked
# the mean should be close to zero, and the std should be close to 1.
ar_df.describe()

### Random sampling
Create a database arrythmia.db.

a. Randomly sample 100 instances and save them to a table called test.

b. Save the remaining instances to a table called train.

In [ ]:
import sqlite3 as sql

In [ ]:
# connect to a database on disk with a given name
# check the file browser on the left to see that the file has been created.
con = sql.connect('arrythmia.db')

Look at `sample` to generate a random selection of rows/instances

In [ ]:
test = ar_df.sample(n=?)
test

Now the inverse problem. Not so easy as there is no pandas function that will directly give us the inverse of the above.

Instead we can remove the test data from the full data set to give us the training data.

In [ ]:
train = ar_df.drop(test.index)
train

we save our tables to our database.

We *don't* want the pandas index as it's not a useful value to save.

We want to save each data frame to a different table in the databse so we must provide a name.

In [ ]:
# use test/train as the table names
# don't include the pandas index in the database
test.to_sql( ? )
train.to_sql( ? )

Look in the current directory to see these files and download them. On the left panel click the file explorer to see the files.

## Q13 from Chapter 3 of [Aggarwal](https://www.springer.com/gp/book/9783319141411)

Use the modified KDD Cup 1999 data set provided as `kddcup.csv` and specifically examine attribute `count`.

1. The data are available via github as [kddcup.arff](https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/kddcup99.arff), load them as a pandas data frame

1. Compute the average µ and standard deviation σ of the `count` attribute over 10,000 samples.

1. Randomly select a subset of n samples from this data set with
  n = 10; 20; 50; 100; 200; 500; 1000; 2000; 5000; 10000:

  For each value of n compute the average $e_n$ of the attribute over the subset and then derive the following quantity:

  $z_n=\frac{|e_n-\mu|}{\sigma}$

  You should repeat this at least 10 times and obtain the average of zn.

1. Plot $z_n$ versus n and make a comment on the graph you have plotted.

### Load the data

The data are available via github as [kddcup.csv](https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/kddcup99.arff), load them as a data frame

In [ ]:
import pandas as pd
import numpy as np
# This time the file is in arff format so we need a library that can read it
from scipy.io import arff
import urllib
import urllib.request

The file that we are working with is in `arff` format, which can't be read directly by pandas. Instead we use an arff loader from `scipy.io`, but we must first download the file before we can open it.

In [ ]:
data_url = 'https://raw.githubusercontent.com/PaulHancock/COMP5009_pracs/main/data/kddcup99.arff'
file_name = 'kddcup99.arff'
# this will download the file, look in your explorer to confirm
urllib.request.urlretrieve(data_url, file_name)

In [ ]:
# load the data from arff format
data = arff.loadarff(file_name)
kd_df = pd.DataFrame(data[0])

### Compute $\mu$ and $\sigma$
Compute the average µ and standard deviation σ of the `count` attribute over 10,000 samples.

In [ ]:
mu = ?
sigma = ?
print(f"For attribute `count`: μ={mu:.2f}, σ={sigma:.2f}")

### Random subsets
Randomly select a subset of n samples from this data set with
  n = 10; 20; 50; 100; 200; 500; 1000; 2000; 5000; 10000:

  For each value of n compute the average $e_n$ of the attribute over the subset and then derive the following quantity:

  $z_n=\frac{|e_n-\mu|}{\sigma}$

  You should repeat this at least 10 times and obtain the average of zn.

In [ ]:
x = [10,20,50,100,200,1_000,2_000,5_000,10_000]
y = []
for n in x:
  # append to z for 10 iterations
  z = []
  for _ in range(10): # repeat 10 times to get the average of zn
    # compute e_n, and then z onsubsets of size n
    subset =
    en = subset.mean()
    z.append(abs(en-mu)/sigma)
  # compute the average of zn and append to y
  zn = np.mean(z)
  y.append(zn)
  print(f'n={n}, zn={zn}')

### Plot $z_n$
Plot $z_n$ versus n and make a comment on the graph you have plotted.

Let's use matplotlib directly for our plotting this time.

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
fig = plt.figure()
ax = fig.add_subplot(1,1,1)
ax.plot(x,y)
#ax.set_yscale(?)
ax.set_xlabel('Number of samples')
ax.set_ylabel('Mean of samples')
plt.show()

What do we observe in the above?

Hint: try a log scale for the axes.